body{
    font-family: 'Great Vibes', cursive;
    font-family: 'Roboto Mono', monospace;  
    }

    .infowindow {
        background-color: #222;
        color: #fff;
        padding: 10px;
        font-family: Arial, sans-serif;
      }
      
      .infowindow table {
        border-collapse: collapse;
        width: 100%;
      }
      
      .infowindow td {
        padding: 5px;
     }